.comment-box {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 50%;
}

.single-comment {
    display: flex;
    border: 1px dotted grey;
    height: 100%;
    justify-content: space-between;
    padding: 5px;
}