#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted red; */
  }
  
  #modal-background {
    /* border: 2px dotted red; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    /* border: 2px dotted red; */
    position: absolute;
    border-radius: 12px;
    background-color:white;
    box-shadow: 12px 12px 2px 1px rgba(13, 13, 41, 0.2);
  }