.upload_song_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    border: 5px solid rgb(241, 74, 8);
    padding: 5%;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.upload_song_form input {
    font-family: 'Josefin Sans', sans-serif;
}
